name: CI

on:
    push:
        branches:
            - "master"
            - "develop"
    pull_request:
        types: [ready_for_review, synchronize, opened]

jobs:
    conflicts:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v2
              with:
                  ref: ${{ github.head_ref }}

            - name: Merge Conflict finder
              uses: olivernybroe/action-conflict-finder@v1.1

    # analyse:
    #     runs-on: ubuntu-latest

    #     steps:
    #         - name: Checkout code
    #           uses: actions/checkout@v2

    #         - name: Setup PHP
    #           uses: shivammathur/setup-php@v2
    #           with:
    #               php-version: "7.4"
    #               extensions: mbstring, dom, fileinfo, intl, gd, imagick, bcmath, soap, zip, sqlite, pcov
    #               coverage: pcov

    #         - name: Cache dependencies
    #           uses: actions/cache@v1
    #           with:
    #               path: ~/.composer/cache/files
    #               key: dependencies-composer-${{ hashFiles('composer.json') }}

    #         - name: Install Composer dependencies
    #           run: composer install --no-ansi --no-interaction --no-suggest --no-progress --prefer-dist --optimize-autoloader

    #         - name: Prepare the database
    #           run: touch database/database.sqlite

    #         - name: Prepare the application
    #           run: cp .env.example .env && php artisan key:generate

    #         - name: Run PHPStan
    #           run: ./vendor/bin/phpstan analyse --memory-limit=2G

    format:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2
              with:
                  ref: ${{ github.head_ref }}
                  token: ${{ secrets.GH_TOKEN }}

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: "7.4"
                  extensions: mbstring, dom, fileinfo, intl, gd, imagick, bcmath, soap, zip, sqlite, pcov
                  coverage: pcov

            - name: Install
              run: composer install --no-ansi --no-interaction --no-scripts --no-suggest --no-progress --prefer-dist --optimize-autoloader

            - name: Run php-cs-fixer
              run: composer format

            - uses: stefanzweifel/git-auto-commit-action@v4
              with:
                  commit_message: "style: resolve style guide violations"
                  branch: ${{ github.head_ref }}

    unit:
        needs: [conflicts, format]

        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v2
              with:
                  ref: ${{ github.head_ref }}

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: "7.4"
                  extensions: mbstring, dom, fileinfo, intl, gd, imagick, bcmath, soap, zip, sqlite, pcov
                  coverage: pcov

            - name: Cache dependencies
              uses: actions/cache@v2
              with:
                  path: ~/.composer/cache/files
                  key: dependencies-composer-${{ hashFiles('composer.json') }}

            - name: Install Composer dependencies
              run: composer install --no-ansi --no-interaction --no-suggest --no-progress --prefer-dist --optimize-autoloader

            - name: Run Tests
              run: ./vendor/bin/pest --coverage --coverage-html=.coverage --coverage-clover=coverage.xml
